### Numpy ndarray 개요

In [1]:
import numpy as np

In [2]:
array1 = np.array([1,2,3])
print('array1 type:',type(array1))
print('array1 array 형태:',array1.shape)

array2 = np.array([[1,2,3], [2,3,4]])
print('array2 type:',type(array2))
print('array2 array 형태:',array2.shape)

array3 = np.array([[1,2,3]])
print('array3 type:',type(array3))
print('array3 array 형태:',array3.shape)

array4 = np.array([[1,2,3], [2,3,4], [3,4,5]])
print('array4 type:',type(array4))
print('array4 array 형태:',array4.shape)

array5 = np.array([[[1,2,3], [2,3,4]], [[3,4,5], [4,5,6]]])
print('array5 type:',type(array5))
print('array5 array 형태:',array5.shape)

array1 type: <class 'numpy.ndarray'>
array1 array 형태: (3,)
array2 type: <class 'numpy.ndarray'>
array2 array 형태: (2, 3)
array3 type: <class 'numpy.ndarray'>
array3 array 형태: (1, 3)
array4 type: <class 'numpy.ndarray'>
array4 array 형태: (3, 3)
array5 type: <class 'numpy.ndarray'>
array5 array 형태: (2, 2, 3)

In [5]:
print(f'array1: {array1.ndim}차원, array2: {array2.ndim}차원, array3: {array3.ndim}차원')
print(f'array4: {array4.ndim}차원, array5: {array5.ndim}차원')

array1: 1차원, array2: 2차원, array3: 2차원
array4: 2차원, array5: 3차원

In [ ]:
array5

array([[[1, 2, 3],
        [2, 3, 4]],

       [[3, 4, 5],
        [4, 5, 6]]])

In [6]:
list1 = [1,2,3]
print(type(list1))
array1 = np.array(list1)
print(type(array1))
print(array1, array1.dtype)

<class 'list'>
<class 'numpy.ndarray'>
[1 2 3] int64

In [7]:
list2 = [1, 2, 3.0]
array2 = np.array(list2)
print(array2, array2.dtype)

[1. 2. 3.] float64

In [11]:
array_int = np.array([1, 2, 3])
array_float = array_int.astype('float64') # 데이터 타입 변환
print(array_float, array_float.dtype)

array_float1 = np.array([1.1, 2.1, 3.1])
array_int1= array_float1.astype('int64')
print(array_int1, array_int1.dtype)

[1. 2. 3.] float64
[1 2 3] int64

### ndarray를 편리하게 생성하기 - arange, zeros, ones

In [12]:
sequence_array = np.arange(10) # range()와 유사한 함수, 1차원 array 반환
print(sequence_array)
print(sequence_array.dtype, sequence_array.shape)

[0 1 2 3 4 5 6 7 8 9]
int64 (10,)

In [13]:
zero_array = np.zeros((3,2), dtype = 'int64') # dtype 디폴트는 float64
print(zero_array)
print(zero_array.dtype, zero_array.shape)

one_array = np.ones((3,2))
print(one_array)
print(one_array.dtype, one_array.shape)

[[0 0]
 [0 0]
 [0 0]]
int64 (3, 2)
[[1. 1.]
 [1. 1.]
 [1. 1.]]
float64 (3, 2)

### reshape: arange로 생성한 1차원 배열을 2차원으로 변환

In [14]:
array1 = np.arange(10)
print('array1:\n', array1)

array2 = array1.reshape(2,5)
print('array2:\n',array2)

array3 = array1.reshape(5,2)
print('array3:\n',array3)

array1:
 [0 1 2 3 4 5 6 7 8 9]
array2:
 [[0 1 2 3 4]
 [5 6 7 8 9]]
array3:
 [[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

In [15]:
array1.reshape(4,3)

ValueError: cannot reshape array of size 10 into shape (4,3)

In [16]:
array1 = np.arange(10)
print(array1)

array2 = array1.reshape(-1, 5) # -1은 열이 5개 일때, 행의 수를 자동으로 계산하도록 지시
print('array2 shape:',array2.shape)

array3 = array1.reshape(5, -1)
print('array3 shape:',array3.shape)

[0 1 2 3 4 5 6 7 8 9]
array2 shape: (2, 5)
array3 shape: (5, 2)

In [17]:
array1 = np.arange(10)
array4 = array1.reshape(-1,4)

ValueError: cannot reshape array of size 10 into shape (4)

In [22]:
array1 = np.arange(8)
array3d = array1.reshape((2,4,1)) # 3차원 변환, 2 by 2가 2개 (n ,row, col)
print('array3d:\n',array3d.tolist())

# 3차원 ndarray를 2차원 ndarray로 변환
array5 = array3d.reshape(-1, 1)
print('array5:\n',array5)
print('array5 shape:',array5.shape)

# 1차원 ndarray를 2차원 ndarray로 변환
array6 = array1.reshape(-1, 2)
print('array6:\n',array6)
print('array6 shape:',array6.shape)

array3d:
 [[[0], [1], [2], [3]], [[4], [5], [6], [7]]]
array5:
 [[0]
 [1]
 [2]
 [3]
 [4]
 [5]
 [6]
 [7]]
array5 shape: (8, 1)
array6:
 [[0 1]
 [2 3]
 [4 5]
 [6 7]]
array6 shape: (4, 2)

### indexing: 파이썬 인덱싱은 0부터 시작

* 단일값 추출

In [23]:
# 1에서 부터 9 까지의 1차원 ndarray 생성
array1 = np.arange(start=1, stop=10)
print('array1:',array1)
# index는 0 부터 시작하므로 array1[2]는 3번째 index 위치의 데이터 값을 의미
value = array1[2]
print('value:',value)
print(type(value))

array1: [1 2 3 4 5 6 7 8 9]
value: 3
<class 'numpy.int64'>

In [24]:
print('맨 뒤의 값:',array1[-1], ', 맨 뒤에서 두번째 값:',array1[-2])

맨 뒤의 값: 9 , 맨 뒤에서 두번째 값: 8

### 값 변경

In [25]:
array1[0] = 9
array1[8] = 0
print('array1:',array1)

array1: [9 2 3 4 5 6 7 8 0]

In [26]:
array1d = np.arange(start=1, stop=10)
array2d = array1d.reshape(3,3) # .reshape(-1, 3), .reshape(3, -1)
print(array2d)

print('(row=0,col=0) index 가리키는 값:', array2d[0,0] )
print('(row=0,col=1) index 가리키는 값:', array2d[0,1] )
print('(row=1,col=0) index 가리키는 값:', array2d[1,0] )
print('(row=2,col=2) index 가리키는 값:', array2d[2,2] )

[[1 2 3]
 [4 5 6]
 [7 8 9]]
(row=0,col=0) index 가리키는 값: 1
(row=0,col=1) index 가리키는 값: 2
(row=1,col=0) index 가리키는 값: 4
(row=2,col=2) index 가리키는 값: 9

* Slicing

In [27]:
array1 = np.arange(start=1, stop=10)
array3 = array1[0:3] # [포함:미포함]
print(array3)
print(type(array3))

[1 2 3]
<class 'numpy.ndarray'>

In [28]:
array1 = np.arange(start=1, stop=10)
print(array1)

array4 = array1[:3] # 처음부터 두번째까지
print(array4)

array5 = array1[3:] # 네번째부터 끝까지
print(array5)

array6 = array1[:] # 처음부터 끝까지
print(array6)

[1 2 3 4 5 6 7 8 9]
[1 2 3]
[4 5 6 7 8 9]
[1 2 3 4 5 6 7 8 9]

In [30]:
array1d = np.arange(start=1, stop=10)
array2d = array1d.reshape(3,3)
print('array2d:\n',array2d)

array2d:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]

In [31]:
print('array2d[0:2, 0:2] \n', array2d[0:2, 0:2])

array2d[0:2, 0:2]
 [[1 2]
 [4 5]]

In [32]:
print('array2d[1:3, 0:3] \n', array2d[1:3, 0:3])

array2d[1:3, 0:3]
 [[4 5 6]
 [7 8 9]]

In [33]:
print('array2d[1:3, :] \n', array2d[1:3, :])

array2d[1:3, :]
 [[4 5 6]
 [7 8 9]]

In [34]:
print('array2d[:, :] \n', array2d[:, :])

array2d[:, :]
 [[1 2 3]
 [4 5 6]
 [7 8 9]]

In [35]:
print('array2d[:2, 1:] \n', array2d[:2, 1:])

array2d[:2, 1:]
 [[2 3]
 [5 6]]

In [36]:
print('array2d[:2, 0] \n', array2d[:2, 0])

array2d[:2, 0]
 [1 4]

In [37]:
print(array2d[0])
print(array2d[1])
print('array2d[0] shape:', array2d[0].shape, 'array2d[1] shape:', array2d[1].shape )

[1 2 3]
[4 5 6]
array2d[0] shape: (3,) array2d[1] shape: (3,)

* fancy indexing

In [38]:
array1d = np.arange(start=1, stop=10)
array2d = array1d.reshape(3,3)
print(array2d)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [40]:
array3 = array2d[[0,1], [2]] # 리스트로 인덱싱
print('array2d[[0,1], 2] => ',array3.tolist())

array4 = array2d[[0,1], 0:2] # 혼합
print('array2d[[0,1], 0:2] => ',array4.tolist())

array5 = array2d[[0,1]]
print('array2d[[0,1]] => ',array5.tolist())

array2d[[0,1], 2] =>  [3, 6]
array2d[[0,1], 0:2] =>  [[1, 2], [4, 5]]
array2d[[0,1]] =>  [[1, 2, 3], [4, 5, 6]]

* Boolean indexing

In [41]:
array1d = np.arange(start=1, stop=10)
# [ ] 안에 array1d > 5 Boolean indexing을 적용
array3 = array1d[array1d >= 6]
print(array1d)
print('array1d >= 6 불린 인덱싱 결과 값 :', array3)

[1 2 3 4 5 6 7 8 9]
array1d >= 6 불린 인덱싱 결과 값 : [6 7 8 9]

In [42]:
array1d > 5

array([False, False, False, False, False,  True,  True,  True,  True])

In [43]:
boolean_indexes = np.array([False, False, False, False, False,  True,  True,  True,  True])
array3 = array1d[boolean_indexes]
print('불린 인덱스로 필터링 결과 :', array3)

불린 인덱스로 필터링 결과 : [6 7 8 9]

In [44]:
indexes = np.array([5,6,7,8])
array4 = array1d[ indexes ]
print('일반 인덱스로 필터링 결과 :',array4)

일반 인덱스로 필터링 결과 : [6 7 8 9]

### 행렬의 정렬 – sort( )와 argsort( )

* 행렬 정렬

In [45]:
org_array = np.array([3, 1, 9, 5])
print('원본 행렬:', org_array)
# np.sort( )로 정렬
sort_array1 = np.sort(org_array)
print ('np.sort( ) 호출 후 반환된 정렬 행렬:', sort_array1)
print('np.sort( ) 호출 후 원본 행렬:', org_array)
# ndarray.sort( )로 정렬
sort_array2 = org_array.sort() # org_array를 정렬, 새로운 배열을 반환하지 않음
print('org_array.sort( ) 호출 후 반환된 행렬:', sort_array2)
print('org_array.sort( ) 호출 후 원본 행렬:', org_array)

원본 행렬: [3 1 9 5]
np.sort( ) 호출 후 반환된 정렬 행렬: [1 3 5 9]
np.sort( ) 호출 후 원본 행렬: [3 1 9 5]
org_array.sort( ) 호출 후 반환된 행렬: None
org_array.sort( ) 호출 후 원본 행렬: [1 3 5 9]

In [58]:
sort_array1_desc = np.sort(org_array)[::-1] # [시작:종료:스텝]
print ('내림차순으로 정렬:', sort_array1_desc)

내림차순으로 정렬: [9 5 3 1]

In [60]:
array2d = np.array([[8, 12],
                   [7, 1 ]])
print(array2d)

sort_array2d_axis0 = np.sort(array2d, axis=0)
print('행 방향으로 정렬:\n', sort_array2d_axis0)

sort_array2d_axis1 = np.sort(array2d, axis=1)
print('열 방향으로 정렬:\n', sort_array2d_axis1)

[[ 8 12]
 [ 7  1]]
행 방향으로 정렬:
 [[ 7  1]
 [ 8 12]]
열 방향으로 정렬:
 [[ 8 12]
 [ 1  7]]

* 정렬된 행렬의 인덱스 반환

In [61]:
org_array = np.array([3, 1, 9, 5])
sort_indices = np.argsort(org_array)
print(type(sort_indices))
print('오름차순으로 정렬된 행렬:', np.sort(org_array))
print('행렬 정렬 시 원본 행렬의 인덱스:', sort_indices)

<class 'numpy.ndarray'>
오름차순으로 정렬된 행렬: [1 3 5 9]
행렬 정렬 시 원본 행렬의 인덱스: [1 0 3 2]

In [62]:
org_array = np.array([3, 1, 9, 5])
sort_indices_desc = np.argsort(org_array)[::-1]
print('내림차순으로 정렬된 행렬:', np.sort(org_array)[::-1])
print('행렬 내림차순 정렬 시 원본 행렬의 인덱스:', sort_indices_desc)

내림차순으로 정렬된 행렬: [9 5 3 1]
행렬 내림차순 정렬 시 원본 행렬의 인덱스: [2 3 0 1]

In [64]:
org_array[sort_indices_desc]

array([9, 5, 3, 1])

In [63]:
import numpy as np

name_array = np.array(['John', 'Mike', 'Sarah', 'Kate', 'Samuel'])
score_array= np.array([78, 95, 84, 98, 88])

sort_indices_asc = np.argsort(score_array)
print('성적 오름차순 정렬 시 score_array의 인덱스:', sort_indices_asc)
print('성적 오름차순으로 name_array의 이름 출력:', name_array[sort_indices_asc])

성적 오름차순 정렬 시 score_array의 인덱스: [0 2 4 1 3]
성적 오름차순으로 name_array의 이름 출력: ['John' 'Sarah' 'Samuel' 'Mike' 'Kate']

### 선형대수 연산 – 행렬 내적과 전치 행렬 구하기

* 행렬 내적

In [65]:
A = np.array([[1, 2, 3],
              [4, 5, 6]])
B = np.array([[7, 8],
              [9, 10],
              [11, 12]])

dot_product = np.dot(A, B)
print('행렬 내적 결과:\n', dot_product)

행렬 내적 결과:
 [[ 58  64]
 [139 154]]

In [66]:
A.dot(B)

array([[ 58,  64],
       [139, 154]])

In [67]:
A @ B

array([[ 58,  64],
       [139, 154]])

* 전치 행렬

In [68]:
A = np.array([[1, 2],
              [3, 4]])
transpose_mat = np.transpose(A)
print('A의 전치 행렬:\n', transpose_mat)

A의 전치 행렬:
 [[1 3]
 [2 4]]

In [69]:
A.T # A.transpose(), np.transpose(A)

array([[1, 3],
       [2, 4]])